<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>汇林商城_首页</title>
<meta name="keywords" content="汇林商城">
<meta name="description" content="汇林商城">
<meta name="author" content="山东商讯在线 http://www.sdsoon.com/">
<link rel="stylesheet" href="__ROOT__/public/css/base.css">
<link rel="stylesheet" href="__ROOT__/public/css/shoph_ban.css">
<link rel="stylesheet" href="__ROOT__/public/css/scindex.css">
<script type="text/javascript" src="__ROOT__/public/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/banner.index.js"></script>
<script type="text/javascript" src="__ROOT__/public/js/hun.index.js"></script>
</head>
<body class="bg-cf8f8f8">
